/dsoo/Consola/build/
/dsoo/Consola/dist/
/dsoo/Consola/nbproject/private/
/dsoo/Hola_idra/build/
/dsoo/Hola_idra/dist/
/dsoo/Hola_idra/nbproject/private/
/dsoo/Agenda Seba/JavaApplication1/nbproject/private/
/dsoo/Agenda Seba/Agenda Seba/nbproject/private/
/dsoo/AgendaTrabajo2/nbproject/private/
/Agenda Seba/nbproject/private/
/AgendaTrabajo/nbproject/private/
/AgendaTrabajo2/nbproject/private/
/UltimaClase/nbproject/private/
/Agenda/Agenda/nbproject/private/
/Figuras geométricas/nbproject/private/
/Figuras geométricas/build/
/Figuras geométricas/dist/
/UltimaClase/build/
/Agenda en capas (Profe)/nbproject/private/
/Agenda en capas/nbproject/private/
/Agenda capas (profe)/nbproject/private/
/Agenda capas (profe)/build/
/Agenda en capas/build/
/Pruebas DAO/nbproject/private/
/Pruebas DAO/build/
